.instagram{
  padding-top: 80px;
  &__inner{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .section__title{
    margin-bottom: 24px;
  }
  .grid{
    margin-bottom: 24px;
  }
  .btn-secondary{
    max-width: 100%;
    margin: auto;
  }
  @include max-screen(1024px){
    .section__title{
      font-size: 50px;
    }
  }
  @include max-screen(768px){
    padding: 40px;
  }
  @include max-screen(375px){
    .section__title{
      font-size: 30px;
    }
  }
}
