.contact__form{
  max-width: 540px;
  margin: auto;
  padding-bottom: 80px;
  .main__title{
    margin-bottom: 24px;
  }
  .form-group{
    margin-bottom: 27px;
  }
  input, select, textarea{
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $grey;
    line-height: 33px;
    font-size: 15px;
    letter-spacing: 0.01em;
    overflow: hidden;
    padding: 0 20px;
    &::-webkit-input-placeholder {
      font-family: $raleway;
      color: #36353D;
      letter-spacing: 0.01em;
    }

    &::-moz-placeholder {
      font-family: $raleway;
      color: #36353D;
      letter-spacing: 0.01em;
    }

    &:-moz-placeholder {
      font-family: $raleway;
      color: #36353D;
      letter-spacing: 0.01em;
    }

    &:-ms-input-placeholder {
      font-family: $raleway;
      color: #36353D;
      letter-spacing: 0.01em;
    }

    &:hover {
      border-color: $red;
    }

    &:focus {
      background-color: transparent;
      overflow: hidden;
      border-color: $red;
      box-shadow: none;
    }
  }
  textarea{
    min-height: 90px;
  }
  .form-control-file {
    display: none;
  }
  .label-file{
    line-height: 20px;
    letter-spacing: 0.01em;

    &:hover{
      color: $red;
    }
    &:hover span{
      border-color: $ligthtGrey;
    }
    &:hover .form-ico{
      transform: scale(1.1);
    }
    span{
      margin-right: 5px;
      border-bottom: 1px solid transparent;
      transition: 0.2s;
    }
    .form-ico{
      stroke: $red;
      stroke-width: 0.8;
      stroke-miterlimit: 10;
      width:7px;
      height:16px;
      transition: 0.2s;
    }
  }
  .btn-primary{
    margin-left: 50%;
    transform: translateX(-50%);
    @include max-screen(375px){
      padding: 0 15px;
    }
  }
}
